node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.env.local
.env.local.db
.env.remote.db
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json
public/react95-icons
coverage
playwright-report
test-results
blob-report

